body {
  font-family: "Rubik", sans-serif;
  /* font-family: Rubik, sans-serif  !important; */
  /* background-color: #f5f5f5; */
  color: #6e7d67;
  /* font-weight: 900; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: visible;
}

.slidedeck {
  width: 50vw;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* gap: 1rem; */
  margin-top: 2vw;
  margin-left: 25vw;
  /* background-color: violet; */
}

button {
  all: unset;
  cursor: pointer;
  font: inherit;
}

.buttons {
  display: flex;
  /* 📌 puts buttons in a row */
  gap: 0.4rem; /* clean spacing */
  /* justify-content: center; */
  /* align-items: left; */
}

.left {
  border-radius: 100px 35px 35px 100px !important;
}
.middle {
  border-radius: 5px !important;
}
.right {
  border-radius: 35px 100px 100px 35px !important;
}

.slideNav {
  /* padding: 0.2rem 1rem; */
  background-color: white;
  padding: 0.3rem 1rem;
  width: fit-content;
  white-space: nowrap;

  border-radius: 999px;
  border: 2px #6e7d67 solid;
  color: #6e7d67;
  font-weight: 600;
  letter-spacing: 0.03em;
  transition:
    background-color 0.25s ease,
    transform 0.15s ease,
    box-shadow 0.15s ease;
  margin-bottom: 10px;
}

button:disabled {
  background-color: #6e7d67 !important;
  color: white !important;
}

.slideNav:hover {
  background-color: #6e7d6735;
  /* transform: translateY(-1px); */
}

.slideNav:active {
  background-color: #6e7d67;
  color: white;
  /* may flicker and will need to delete this code */
}
/* 
.slideNav:focus-visible {
  /* outline: 3px solid rgba(79, 109, 245, 0.5); */
/* outline-offset: 3px; */
/* background-color: #6e7d67;
  color: white; */
/* transform: scale(1.05);
} */

/* The viewport */
.slideshow {
  width: 50vw;
  height: 50vh;
  overflow: hidden;
  background-color: white;
  border: 2px #808080 solid;
  border-radius: 10px;

  pointer-events: auto;
  transition: transform 0.3s ease-in-out;
  transform-origin: top left;
}

.slideshow:hover {
  transform: scale(1.01);
  background-color: #6e7d6750;
  border: 2px #6e7d67 solid;
}

/* The moving strip of slides */
.slides {
  display: flex; /* slides in a row */
  width: 150vw; /* 100vw × number of slides */
  height: 100%;
  transition: transform 0.6s ease; /* smooth slide motion */
  /* border: 4px solid black; */
  /* border-radius: 10px; */
}

/* Individual slide */
.slide {
  width: 50vw;
  height: 50vh;
  margin: 5px 0px 0px 10px;
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: center; */
  /* align-items: center; */

  /* padding: 4rem; */
}

.slideshow h1 {
  font-size: 2vw !important;
  color: #646464;
  /* margin-bottom: 1rem; */
}
